body {
    background-color: pink;
    margin-bottom:-100px;
}

ul {
    width: 50px;
    display: inline;
    margin: 0 20px;
}

li {
    text-align: center;
}

.container {
    width: 80%;
    background: lightsalmon;
    height: 700px;
    margin: 0 auto;
    text-align: center;
}

.headerColumn {
    height: 200px;
    background-color: yellow;
}

.question1 {
    background: aqua;
    margin-top: -385px;   
    text-align: center;
}

.question2 {
    background: purple;
    margin-top: -260px;
}

.question3 {
    background: grey;
    margin-top: -130px   
}

.startButtonColumn {
    background: blue;
    height: 500px;
    position: relative;
    line-height: ;
    z-index: 1;
}

#startButton {
    background: grey;
    height: 150px;
    width: 200px;
    position: relative;
    top: 150px;
    margin: 0 auto;
    line-height: 150px;
    font-size: 50px;
}

.timeRemainingColumn {
    background: red;
    margin-top: -500px;
    width: 100%;
    height: 110px;
}

.question1, .question2, .question3 {
    height: 110px;
    height: 110px;
}

#score {
    color: black;
}

#triviaHeader {
    line-height: 200px;
    font-size: 60px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

